USE [master]
GO
/****** Object:  Database [mssql2200984]    Script Date: 25/10/2023 18:31:04 ******/
CREATE DATABASE [mssql2200984]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mssql2200984_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\mssql2200984_data.mdf' , SIZE = 11264KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mssql2200984_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\mssql2200984_log.ldf' , SIZE = 2048KB , MAXSIZE = 5120KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mssql2200984].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mssql2200984]
GO
/****** Object:  User [mssql2200984]    Script Date: 25/10/2023 18:31:04 ******/
CREATE USER [mssql2200984] FOR LOGIN [mssql2200984] WITH DEFAULT_SCHEMA=[COMICBOOK]
GO
ALTER ROLE [db_owner] ADD MEMBER [mssql2200984]
GO
/****** Object:  Schema [COMICBOOK]    Script Date: 25/10/2023 18:31:04 ******/
CREATE SCHEMA [COMICBOOK]
GO
/****** Object:  Table [COMICBOOK].[Customers]    Script Date: 25/10/2023 18:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COMICBOOK].[Customers](
	[CustomerID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[AccountCreatedDate] [date] NULL,
	[ProfilePictureID] [int] NULL,
	[Preferences] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COMICBOOK].[Inventory]    Script Date: 25/10/2023 18:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COMICBOOK].[Inventory](
	[ProductID] [int] NULL,
	[QuantityInStock] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [COMICBOOK].[Manufacturers]    Script Date: 25/10/2023 18:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COMICBOOK].[Manufacturers](
	[ManufacturerID] [int] NOT NULL,
	[ManufacturerName] [varchar](100) NULL,
	[ManufacturerLocation] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COMICBOOK].[Orders]    Script Date: 25/10/2023 18:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COMICBOOK].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [date] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[IsPaid] [bit] NULL,
	[IsDelivered] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COMICBOOK].[Products]    Script Date: 25/10/2023 18:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COMICBOOK].[Products](
	[ProductID] [int] NOT NULL,
	[Name] [varchar](255) NULL,
	[Type] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[ManufacturerID] [int] NULL,
	[StockQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [COMICBOOK].[Staff]    Script Date: 25/10/2023 18:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COMICBOOK].[Staff](
	[StaffID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [COMICBOOK].[Inventory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [COMICBOOK].[Products] ([ProductID])
GO
ALTER TABLE [COMICBOOK].[Inventory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [COMICBOOK].[Products] ([ProductID])
GO
ALTER TABLE [COMICBOOK].[Inventory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [COMICBOOK].[Products] ([ProductID])
GO
ALTER TABLE [COMICBOOK].[Inventory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [COMICBOOK].[Products] ([ProductID])
GO
ALTER TABLE [COMICBOOK].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [COMICBOOK].[Customers] ([CustomerID])
GO
ALTER TABLE [COMICBOOK].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [COMICBOOK].[Customers] ([CustomerID])
GO
ALTER TABLE [COMICBOOK].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [COMICBOOK].[Customers] ([CustomerID])
GO
ALTER TABLE [COMICBOOK].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [COMICBOOK].[Customers] ([CustomerID])
GO
ALTER TABLE [COMICBOOK].[Products]  WITH CHECK ADD FOREIGN KEY([ManufacturerID])
REFERENCES [COMICBOOK].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [COMICBOOK].[Products]  WITH CHECK ADD FOREIGN KEY([ManufacturerID])
REFERENCES [COMICBOOK].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [COMICBOOK].[Products]  WITH CHECK ADD FOREIGN KEY([ManufacturerID])
REFERENCES [COMICBOOK].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [COMICBOOK].[Products]  WITH CHECK ADD  CONSTRAINT [New_FK_Constraint_Name] FOREIGN KEY([ManufacturerID])
REFERENCES [COMICBOOK].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [COMICBOOK].[Products] CHECK CONSTRAINT [New_FK_Constraint_Name]
GO
USE [master]
GO
